{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
<div class="container py-5">
  <div class="mb-5">
    <h1>Привет, я автор этого проекта</h1>
  
      <p>
        Начинающий backend developer
      </p>
      <p>
        И если вы читаете эту страницу, значит что-то на созданном мною сайте работает )) 
      </p>
      <p>
        И это здорово, потому что как и всем известный путь в тысячи ли, большой проект начинается с первых простых страниц.
      </p>
      <p>
        Программирование это очень круто! Каждый программист по сути маленький бог, творец в рамках своего отдельно взятого task-а.<br> 
        Он создает сущности, которые начинают жить, общаться друг с другом и трудиться в соответствии с разработанным алгоритмом.
      <p>
        При этом надо быть очень внимательным ко всем созданиям, не пропускать скобочки, считать отступы,<br>
        иначе все начинает рушиться и никто не хочет работать.
      </p>
      <p>
        А сколько всякого <a href="{% url "about:tech" %}">инструментария</a> для творцов было придумано, а сколько еще будет... Во всем этом очень трудно разобраться,<br>
        но ВОЗМОЖНО... для тех, кто хочет создавать красивые и полезные миры.
      </p>
      <p>  
        Так что если заметите поссорившиеся сущности или отлынивающие от работы объекты на этом проекте, <br>
        пишите начинающему божеству на адрес <a href="mailto:mtaurova@yandex.ru">mtaurova@yandex.ru</a>.
        Будем исправляться
      </p> 

      <img src="{% static 'img/about.png' %}" width="540" height="360" class="d-inline-block align-top" alt="">
       
  </div>  
</div>
{% endblock %} 