{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row">
    <h1>Технологии:</h1>        
      <aside class="col-12 col-md-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            Pillow
          </li> 
          <li class="list-group-item">
            Sorl-thumbnail
          </li>
          <li class="list-group-item">
            Bootstrap
          </li>         
        </ul>
      </aside>
      <article class="col-12 col-md-9">
        <div class="text-center py-3">
          <h3>Основная технология - "Не сдаваться 3.0"</h3>
        </div>
      </article>
  </div>
</div>
{% endblock %} 
